@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  border-top: 1px solid #ddd;
  background:#eee;
  margin-left:20px;
  margin-right:20px;
}

table {
  text-align: center;
  border:1px;
  bordercolor:#FF0000;
}

table.bordasimples {border-collapse: collapse;}

table.bordasimples tr td {border:1px solid #000; margin-top:10px;}

div.margemDiv {
	margin-bottom:5px;
	margin-top:5px;
}

div.bordaTotalDiv {
	margin-left:15px;
	margin-right:15px;
	margin-bottom:40px;
}


div.text-div-branco{
	color: #fff;
	margin-bottom:7px;
	margin-top:7px;
}

div.divMargem{
	margin-left:8px;
margin-right:8px;
}
div.textoCentro1{
	text-align:center;
	border-width: medium;
	border-style: solid;
	border-color: #00f;
	margin-left:4px;
	margin-right:4px;
	margin-bottom:4px;
}

div.textoCentro2{
	text-align:center;
	border-width: medium;
	border-style: solid;
	border-color: #F00;
	margin-left:4px;
	margin-right:4px;
	margin-bottom:4px;
}

div.textoCentro3{
	text-align:center;
	border-width: medium;
	border-style: solid;
	border-color: #00FF1F;
	margin-left:4px;
	margin-right:4px;
	margin-bottom:4px;
}

td.margemFundo {
	background:#1E90FF;
}

input.ocultarRadio {
  display: none;
}

input.btAmarelo{
	background: rgb(210, 195, 20);
}

input.InputCenter{
	text-align:center;
}

button.btVermelho{
	background:#F51010;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 5px 15px;
  color: #bbb;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f1c0';
}

label[for*='2']:before {
  content: '\f15c';
}

label[for*='3']:before {
  content: '\f15b';
}

label[for*='4']:before {
  content: '\f1a9';
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

input.labText {
  color: #555;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
